:root {
    
  --light-accent: #1864f3;  
  --color-accent: #43639f;     
  --color-bg: #f3f8ff;          
  --color-text: #052862;        
  --color-white: #FFFFFF;
  --color-negative: #d03e42;
}

body {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f3f8ff;
  font-family: "Inter", system-ui, sans-serif;
}

@layer header {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.25rem;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
  .logo a {
    color: var(--color-text)
  }
  .page-links {
    display: flex;
    gap: 2rem;
  }

  .page-links a {
    color: var(--color-text)
  }
}

@layer main {
  .main {
    min-height: calc(100vh - 7vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
  }

  [data-testid="test-profile-card"] {
    max-width: 25rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    background: #e4ebf5;
background: linear-gradient(90deg, rgba(228, 235, 245, 1) 0%, rgba(212, 227, 255, 1) 50%, rgba(209, 215, 224, 1) 100%);
    border-radius: 0.5rem;
    padding: 1.25rem;
  }

  .img-container {
    width: fit-content;
    margin: 0 auto;
    border-right: 2px solid var(--color-accent);
    border-top: 2px solid var(--color-accent);
    border-radius: 0.25rem;
  }
  [data-testid="test-user-avatar"] {
    width: 8rem;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    padding: 0.25rem 0.25rem 0 0;
  }

  [data-testid="test-user-name"] {
    font-size: 1rem;
    margin-top: 0.75rem;
  }

  [data-testid="test-user-time"] {
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    font-size: 0.5rem;
    color: var(--light-accent);
    padding-top: 5px;
  }

  .time {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1.5px solid var(--color-accent);
    border-radius: 2px;
    padding-inline: 5px;
    width: fit-content;
  }

  .time span {
    font-size: 0.65rem;
    margin-top: 4px;
  }

  [data-testid="test-user-bio"] {
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1.2rem;
  }

  [data-testid="test-user-social-links"] {
    display: flex;
    gap: 0.5rem;
    justify-content: start;
    padding: 0.5rem 0;
  }

  .socials {
    border: 1.5px solid var(--color-accent);
    border-radius: 100%;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  }
  .socials:hover {
    background-color: var(--color-accent);
    fill: white;
  }

  .socials:focus {
    outline: 3px solid #63b3ed;
    outline-offset: 2px;
    border-radius: 4px;
    background-color: #ebf8ff;
  }

  .icon:hover {
    stroke: white;
  }

  .section-title {
    font-size: 0.75rem;
    /* color: #a8adb6; */
    font-weight: bolder;
    margin-block: 1rem 0.4rem;
  }

  [data-testid="test-user-hobbies"] ul,
  [data-testid="test-user-dislikes"] ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, auto));
    padding: 0;
    gap: 1.2rem;
    font-size: 0.75rem;
  }

  [data-testid="test-user-hobbies"] li,
  [data-testid="test-user-dislikes"] li {
    border-radius: 2rem;
    padding: 0.2rem 0.9rem;
    white-space: nowrap;
    width: fit-content;
  }

  [data-testid="test-user-hobbies"] li {
    border: 1.5px solid var(--light-accent);
    color: var(--light-accent);
    background-color: var(--color-bg);
  }

  [data-testid="test-user-dislikes"] li {
    border: 1.5px solid var(--color-negative);
    color: var(--color-negative);
    background-color: #fef2f2;
  }
}

@layer base {
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
@layer footer {
  footer {
    background: #0d47a1;
    background: linear-gradient(
      90deg,
      rgba(13, 71, 161, 1) 0%,
      rgba(59, 95, 148, 1) 50%,
      rgba(87, 137, 212, 1) 100%
    );

    padding: 2rem 0;
    text-align: center;
    color: white;
  }
}
@layer responsiveness {
  @media (min-width: 601px) {
    [data-testid="test-profile-card"] {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      max-width: 40rem;
    }

    .name-time {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
